<app-loading-spinner />
<app-toast />
<div class="app-wrapper" [class.dark]="themeService.isDark()">
    <app-navbar />
    <app-quote-carousel />
    <div class="app-layout">
        @if (authService.isAuthenticated()) {
        <app-sidebar />
        }
        <main class="main-content" [class.with-sidebar]="authService.isAuthenticated()">
            <router-outlet />
            <app-footer />
        </main>
    </div>
    @if (authService.isAuthenticated()) {
    <app-chatbot />
    }
</div>