<div class="toast-container-custom">
    @for (toast of toastService.toasts(); track toast.id) {
    <div class="toast-item" [ngClass]="'toast-' + toast.type">
        <div class="toast-body">
            <i class="bi" [ngClass]="[toast.icon || 'bi-info-circle-fill', 'toast-icon-' + toast.type]"></i>
            <span class="toast-msg">{{ toast.message }}</span>
            <button class="toast-close" (click)="toastService.remove(toast.id)">
                <i class="bi bi-x"></i>
            </button>
        </div>
    </div>
    }
</div>
